<!DOCTYPE html>
<html>
<head>
<title>智慧物流平台系统</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>
<body>
<div id="{id}" class="mappop">
	<div>
    	<img class="attachimg" src="{attachimg}" ></img>
    </div>
    <div class="name">地块信息</div>
    <div class="triangle"></div>
	<div class="content">
	   <div>
	   		<div class="lable">地块编号</div>
	   		<div class="value">{blockNumber}</div>
	   </div>
	   <div>
	   		<div class="lable">耕地面积（亩）</div>
	   		<div class="value">{area}</div>
	   </div>
	   <div>
	   		<div class="lable">地块类型</div>
	   		<div class="value">{blockType}</div>
	   </div>
	    <div>
	   		<div class="lable">土壤类型</div>
	   		<div class="value">{landType}</div>
	   </div>
	   <div class="line"></div>
	    <div>
	   		<div class="lable">所属单位</div>
	   		<div class="value">{site}</div>
	   </div>
	</div>
	<div class="landblockmore tab">
		<div class="landblockprocess">查看作物生产过程回溯</div>
		<div class="landblockstatus">查看作物生长状态</div>
		<div class="landblockharvest">查看作物产量预测图表</div>
	</div>
</div>

</body>
