<!DOCTYPE html>
<html>
<head>
<title>智慧物流平台系统</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="../css/infoWindow.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="{id}" class="mappop">
    <div >
    	<img class="attachimg" src="{attachimg}"></img>
    </div>
    <div class="name">{licenseplate}</div>
    <div class="triangle"></div>
	<div class="title">
		<div id="{id}baseinfo" class="select">基本资料</div>
		<!-- 
		<div id="{id}qualification">企业资质</div>
		<div id="{id}attestation">认证信息</div>
		 -->
	</div>
	<div id="{id}baseinfocontent" class="content">
	   <div>
	   		<div class="lable">发动机号</div>
	   		<div class="value">{enginenumber}</div>
	   </div>
	   <div>
	   		<div class="lable">车辆品牌</div>
	   		<div class="value">{vehiclebrand}</div>
	   </div>
	   <div>
	   		<div class="lable">车辆类型</div>
	   		<div class="value">{vehicletype}</div>
	   </div>
	   <div>
	   		<div class="lable">登记地</div>
	   		<div class="value">{registrationaddress}</div>
	   </div>
	   
	   
       <div>
            <div class="lable">货箱长度</div>
            <div class="value">{cargolength}</div>
       </div>
       <div>
            <div class="lable">车辆载重(吨)</div>
            <div class="value">{vehicleweight}</div>
       </div>
	   <div class="line"></div>
	   <div>
	   		<div class="lable">年检截止日期</div>
	   		<div class="value">{checkdeadline}</div>
	   </div>
	   <div>
            <div class="lable">保险截止日期</div>
            <div class="value">{insurancedeadline}</div>
       </div>
       <div>
            <div class="lable">坐标</div>
            <div class="value">{gps}</div>
       </div>
	</div>
	<!-- 
	<div id="{id}qualificationcontent"  class="content hiddenit smallheightautoScroll">
	  {qualification}
	</div>
	
	
	<div id="{id}attestationcontent"  class="content hiddenit">
	  <div>
	   		<div class="lable">认证类别</div>
	   		<div class="value">{certtype}</div>
	   </div>
	   <div>
	   		<div class="lable">认证时间</div>
	   		<div class="value">{certtime}</div>
	   </div>
	   <div>
	   		<div class="lable">有效期限</div>
	   		<div class="value">{validtime}</div>
	   </div>
	   <div>
	   		<div class="lable">认证机构</div>
	   		<div class="value">{certorganization}</div>
	   </div>
	   <div>
	   		<div class="lable">证书编号</div>
	   		<div class="value">{certnumber}</div>
	   </div>
	</div>
	    -->
</div>

</body>
